@import '~antd/dist/antd.dark.less';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-bottom: 0;
}

a {
    color: white;
}

.event {
    border: 1px solid #9147ff;
    background-color: #141414;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.event.kill {
    border-color: rgb(40, 130, 40);
    background-color: rgb(22, 38, 20);
}

.event.assist {
    border-color: rgb(55, 159, 110);
    background-color: rgb(22, 43, 37);
}

.event.death {
    border-color: rgb(130, 40, 40);
    background-color: rgb(38, 22, 20);
}

.footer {
    font-size: 1.2rem;
}

.footer>span {
    margin: 0 25px;
}

.weapon-matrix-header {
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: @body-background;
}
